<h1>AN ELEM</h1>

<div id="newList">
    
    <p><label for="elemName">Name</label><input type="text" id="elemName" name="elemName" ng-model="name" value="" /></p>
    
    <p><label for="description">Description</label><input type="text" id="description" name="description"  ng-model="description" value="" /></p>
    
    <div ng-if="edit == true">
        <button ng-click="elemSave(false)">Update</button>
    </div>
    <div ng-if="edit == false">
        <button ng-click="elemSave(false)">Create</button>
    </div>
    
</div>