<h1 ng-if="edit == true">{{name}}</h1>
<h1 ng-if="edit == false">New</h1>
<div id="newList">
    
    <p><label for="listName">Name</label><input type="text" id="listName" name="listName" ng-model="name" value="" /></p>
    
    <p><label for="description">Description</label>
        <textarea id="description" name="description" ng-model="description"></textarea>
    </p>
    
    <div class="buttonPlace">
        <button ng-if="edit == true" class="burronv1" ng-click="listSave(false)">Update</button>
        <button ng-if="edit == false" class="burronv1" ng-click="listSave(false)">Create</button>
        <button class="burronv1" ng-click="listSave(true)">Save and add an element</button>
    </div>
    
</div>