
<div id="newList">
    
    <p><label for="listName">Name</label><input type="text" id="listName" name="listName" ng-model="name" value="" /></p>
    
    <p><label for="description">Description</label><input type="text" id="description" name="description"  ng-model="description" value="" /></p>
    
    <p>
        <label for="from">From</label>
        <input type="text" id="from" name="from"  ng-model="from" value="" />
        <label for="to">To</label>
        <input type="text" id="to" name="to"  ng-model="to" value="" />
    </p>
    
    <div ng-if="edit == true">
        <button ng-click="listSave(false)">Update</button>
    </div>
    <div ng-if="edit == false">
        <button ng-click="listSave(false)">Create</button>
    </div>
    <button ng-click="listSave(true)">Save and add an element</button>
    
</div>