<h1>Memo</h1>
        
<div id="listBlock">
    <!--Body content-->
    
    <button class="burronv1" ng-click="goToCreateList()">Create a new list!</button>
    
    <ul class="tableList">
        
        <li ng-repeat="listData in listsData" ng-class="{ 'slectedElem': listData.infos.id == selectedIndex }" select-items>
            <div class="elem" ng-click="selectElem( listData.infos.id, listData.infos.name )">
                {{listData.infos.name}}
                <!--a href="" ng-selectedElemId="{listData.infos.id}" ng-selectedElemname="{listData.infos.name}" ng-click="toRemove(listData.infos.id, listData.infos.name)">X</a> <a href="" ng-click="toEdit(listData.infos.id)">E</a-->
                <div class="hide itemDesc">
                    {{listData.infos.description}}
                </div>
            </div>
            <a href="" ng-click="toElemList(listData.infos.id)"><img src="img/ico_whiteArrow.svg" alt="" /></a>
        </li>
        
      </ul>
      
</div>