
<div id="menuWrapper">
<div id="btn_menu" ng-click="menuToggle()"><img src="img/ico_menu.svg" alt="Menu" /></div>
<div id="bottomPos">
    <div id="btnFixe_back" ng-click="menuToggle()"><img src="img/ico_back.svg" alt="Back" /></div>
    <div id="btn_edit" ng-click="menuEdit()"><img src="img/ico_edit.svg" alt="Edit" /></div>
    <div id="btn_add" ng-click="menuAdd()"><img src="img/ico_add.svg" alt="Add" /></div>
    <div id="btn_remove" ng-click="toRemove(listData.infos.id, listData.infos.name)"><img src="img/ico_remove.svg" alt="Remove" /></div>
    <div id="btnFixe_option" ng-click="menuOption()"><img src="img/ico_option.svg" alt="Option" /></div>
</div>
</div>