
<div id="menuWrapper">
<div id="btn_menu" ng-click="menuToggle()"><img src="img/ico_menu.svg" alt="Menu" /></div>
<div id="bottomPos">
    <div id="btn_back"><img src="img/ico_back.svg" alt="Back" /></div>
    <div id="btn_edit"><img src="img/ico_edit.svg" alt="Edit" /></div>
    <div id="btn_add"><img src="img/ico_add.svg" alt="Add" /></div>
    <div id="btn_remove"><img src="img/ico_remove.svg" alt="Remove" /></div>
    <div id="btn_option"><img src="img/ico_option.svg" alt="Option" /></div>
</div>
</div>